#wrapper, div.main{
	display:flex;
	flex-direction:column;
}
header{
	width:99%;
	margin: 0 auto;
	height:120px;
	background-color:#ccc;
	flex:1;
	order:1;
}
img.logo{
	float:left;
	margin:10px;
	width:100px;
	height:100px;
}
div.title{
	padding:40px;
}
div.main {
	width:99%;
	margin: 0 auto;
	margin-top:20px;
	flex:2;
	order:2;
}
nav{
	padding:10px;
	background-color:#ccc;
	text-align:center;
	height:20px;
	flex:1;
	order:1;
}
ol{
	padding:40px;
	background-color:#ddd;
	margin-bottom:0px;
	flex:2;
	order:2;
}
div.table{
	background-color:#ddd;
	margin-top:20px;
	flex:4;
	order:4;
}
table th{
	font-size:large;
	background-color=#ccc;
}
table tr:nth-child(2n) td{
    background-color: #ddd;;
}
table tr:nth-child(2n+1) td{
    background-color: #fff;
}
table ,th,td{
    border: 5px groove #000;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
	width:100%;
}
div.form{
	padding:40px;
	background-color:#ddd;
	margin-top:20px;
	flex:3;
	order:3;
}
footer{
	width:99%;
	margin: 0 auto;
	height:30px;
	background-color:#ccc;
	margin-top:10px;
	flex:3;
	order:3;
}
@media screen and (min-width: 800px){
	div.main{
		max-width:960px;
	}
	div.table{
		order:3;
	}
	div.form{
		order:4;
	}
}